<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700&display=swap"
          rel="stylesheet">
</head>
<body>
<style>
    body {
        font-family: 'Jost', sans-serif;
    }
    .my-5 {
        font-weight: 300;
        font-size: 2rem;
    }
</style>
<!-- Хедер -->
<div class="container-md">
    <header class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand" href="{% url 'welcome' %}"><strong>HABIT TRACKER</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                <ul class="navbar-nav ">
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="{% url 'welcome' %}">Главная</a>-->
                    <!--                    </li>-->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="{% url 'home' %}">Привычки</a>-->
                    <!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link">Выйти</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
</div>
<!-- Контент -->
<div class="container container-md">
    <h1 class="mt-5 ">Добро пожаловать в <strong>HABIT TRACKER</strong> - наш трекер привычек!</h1>
    <h3 class="my-5">Как известно, привычка формируется за 40 дней, и именно столько времени требуется нашему мозгу,
        чтобы адаптироваться к новым поведенческим моделям. <br>Мы создали уникальное приложение, которое
        поможет вам освоить полезные навыки и избавиться от тех привычек, которые больше не служат вашим целям.
        <br>С нашей поддержкой вы сможете сделать каждый день шагом вперед к лучшей версии себя.</h3>
    <div>
        {% if not user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'register' %}">Зарегистрируйся сейчас</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'home' %}">Перейти к своим привычкам</a>
        {% endif %}
    </div>
</div>
<!-- Футер -->
<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="text-center p-4">
        © 2024 Дипломный проект.
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>